controllerManager:
  manager:
    args:
    - --metrics-bind-address=:8443
    - --leader-elect
    - --health-probe-bind-address=:8081
    - --certificate-namespace=$(CERTIFICATE_NAMESPACE)
    - --certificate-issuer-name=$(CERTIFICATE_ISSUER_NAME)
    - --label-selector=$(LABEL_SELECTOR)
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
    env:
      certificateIssuerName: nova-hypervisor-agents-ca-issuer
      certificateNamespace: monsoon3
      labelSelector: ""
      osAuthUrl: ""
      osProjectDomainName: ""
      osProjectName: ""
      osRegionName: ""
      osUserDomainName: ""
      osUsername: ""
    image:
      repository: keppel.eu-de-1.cloud.sap/ccloud/openstack-hypervisor-operator
      tag: latest
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
  nodeSelector: {}
  podSecurityContext:
    runAsNonRoot: true
  replicas: 1
  tolerations: []
  topologySpreadConstraints: []
kubernetesClusterDomain: cluster.local
metricsService:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: 8443
  type: ClusterIP
secret:
  servicePassword: ""
serviceAccount:
  annotations: {}
  automount: true
  create: true
  name: ""
