# SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company
# SPDX-License-Identifier: Apache-2.0

name: Publish Helm Chart GHCR
"on":
  push:
    branches:
      - main
    paths:
      - 'charts/**'
  workflow_dispatch: {}


jobs:
  publish-chart:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Required for pushing the repository
      packages: write # Required to push to GHCR

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Helm
        uses: azure/setup-helm@v4.3.1

      - name: Bump Helm Chart
        uses: pluralsh/chart-releaser@v0.1.3
        with:
          path: ./charts/openstack-hypervisor-operator/
          release: "0.1.0"
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Package Helm chart
        run: |
          helm package ./charts/openstack-hypervisor-operator

      - name: Log in to GHCR
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | helm registry login ghcr.io --username ${{ github.actor }} --password-stdin

      - name: Push Helm chart to GHCR
        run: |
          CHART_NAME=openstack-hypervisor-operator
          CHART_VERSION=$(grep "version:" ./charts/${CHART_NAME}/Chart.yaml | awk '{print $2}')
          helm push "${CHART_NAME}-${CHART_VERSION}.tgz" "oci://ghcr.io/${{ github.repository_owner }}/${CHART_NAME}/charts"
